Amstrong number

In [2]:
for i in range(1001):
    num=i
    res=0
    n=len(str(i))
    while(i!=0):
        di=i%10
        res=res+di**n
        i=i//10
    if num==res:
        print(num)

0
1
2
3
4
5
6
7
8
9
153
370
371
407

pattern
1
1 2
1 2 3
1 2 3 4 
1 2 3 4 5

In [2]:
n=int (input("enter number: "))
for i in range(1,n+1):
    for j in range(1,i+1):
        print(j," ",end="")
    print()

1
1  2
1  2  3
1  2  3  4
1  2  3  4  5

pattern
1
2 2
3 3 3
4 4 4 4 
5 5 5 5 5

In [4]:
n=int (input("enter number: "))
for i in range(1,n+1):
    for j in range(1,i+1):
        print(i," ",end="")
    print()

1
2  2
3  3  3
4  4  4  4
5  5  5  5  5

pattern
*
**
***
****
*****

In [5]:
n=int (input("enter number: "))
for i in range(1,n+1):
    for j in range(1,i+1):
        print("* ",end="")
    print()

*
* *
* * *
* * * *
* * * * *

pattern
*
**
* *
*  *
*****

In [12]:
n=int (input("enter number: "))
for r in range(n):
    for c in range(n):
        if c==0 or r==(n-1) or r==c:
            print("*",end="")
        else:
            print(end=" ")
    print()

*
**
* *
*  *
*****

factorial

In [17]:
n=int(input("enter n:"))
t=1
for i in range(n,0,-1):
    t=t*i
print("factorial of",n,"is",t)

factorial of 5 is 120

factorial using recursion

In [18]:
def fact(n):
    if n==0:
        return 1
    else:
        return n*fact(n-1)
n=int(input("enter n:"))
t=fact(n)
print("factorial of",n,"is",t)

factorial of 5 is 120

pattern
*****
 *  *
  * *
   **
    *

In [20]:
n=int (input("enter number: "))
for r in range(n):
    for c in range(n):
        if c==(n-1) or r==0 or r==c:
            print("* ",end="")
        else:
            print(end="  ")
    print()

* * * * *
  *     *
    *   *
      * *
        *

pattern
1  
2  3  
4  5  6  
7  8  9  10

In [30]:
n=int (input("enter number: "))
num=1
for i in range(1,n+1):
    for j in range(1,i+1):
        print(num," ",end="")
        num+=1
    print()

1
2  3
4  5  6
7  8  9  10
11  12  13  14  15

pattern
p  
p  y  
p  y  t  
p  y  t  h  
p  y  t  h  o  
p  y  t  h  o  n

In [35]:
s=input("enter string: ")
n=len(s)
for i in range(0,n):
    for j in range(0,i+1):
        print(s[j]," ",end="")
    print()

p
p  y
p  y  t
p  y  t  h
p  y  t  h  o
p  y  t  h  o  n

Fibonacci series

In [43]:
n=int(input("enter n: "))
f1,f2=0,1
res=0
for i in range(1,n+1):
    print(f2,end=" ")
    res=f1+f2
    f1=f2
    f2=res

1 1 2 3 5 8 13 21 34 55

Pattern
1 2 3 4 
1 2 3 
1 2 
1

In [48]:
n=int(input("enter number:"))
for i in range(n,0,-1):
    for j in range(1,i+1):
        print(j,end=" ")
    print()

1 2 3 4
1 2 3
1 2
1

Pattern
4 4 4 4 
3 3 3 
2 2 
1

In [49]:
n=int(input("enter number:"))
for i in range(n,0,-1):
    for j in range(1,i+1):
        print(i,end=" ")
    print()

4 4 4 4
3 3 3
2 2
1

print prime numbers within range

In [51]:
l=int(input("enter start"))
u=int(input("enter start"))
for n in range(l,u+1):
    if n>1:
        for i in range(2,n):
            if n%i==0:
                break
        else:
            print(n)

5
7
11
13
17
19
23
29

check prime number or not

In [54]:
n=int(input("enter num"))
for i in range(2,n):
    if n%i==0:
        print("the number",n,"is not prime")
        break
    else:
        print("the number",n,"is prime")
        break

the number 22 is not prime

Pattern
    *    
   * *   
  *   *  
 *     * 
*********

In [7]:
n=int(input("enter n"))
for i in range(1,n+1):
    for j in range(1,n*2):
        if i==n or i+j==n+1 or j-i==n-1:
            print("*",end="")
        else:
            print(end=" ")
    print()

    *
   * *
  *   *
 *     *
*********

Pattern
    *    
   * *   
  *   *  
 *     * 
* * * * *

In [8]:
n=int(input("enter n"))
k=2
for i in range(1,n+1):
    for j in range(1,n*2):
        if i+j==n+1 or j-i==n-1:
            print("*",end="")
        elif i==n and j!=k:
            print("*",end="")
            k=k+2
        else:
            print(end=" ")
    print()

    *
   * *
  *   *
 *     *
* * * * *